.navbar {
    background-color: #0f0f0f;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%; /* Asegura que el navbar ocupa todo el ancho */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    position: relative;
    box-sizing: border-box;
    padding: 0 20px; /* Añadir padding para evitar overflow */
}

.nav-logo {
    color: #f5b921;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 70px;
    width: auto;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 80px; /* Posición debajo del navbar */
    left: 0;
    width: 100%;
    background: #000; /* Fondo del menú */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav-menu.active {
    transform: translateX(0); /* Mostrar el menú */
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    border-bottom: 1px solid #333; /* Separación entre elementos */
}

.nav-links:last-child {
    border-bottom: none; /* Sin borde en el último elemento */
}

.nav-icon {
    display: none;
    color: #f5b921;
}

.nav-icon .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 960px) {
    .nav-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px; /* Ajuste de posición */
        transform: translate(-100%, -50%);
        cursor: pointer;
        color: #f1f1f1;
        z-index: 2;
    }
}
